<%= case @game_data.phase do %>
  <%= :pregame -> %>
    <%= live_component @socket, CribbexWeb.Game.PregameComponent, game_id: @game_data.id %>
  <% _other -> %>
    <%= live_component @socket, CribbexWeb.Game.MainComponent, name: @name, game_data: @game_data %>
<% end %>
<section>
  <button class="button-danger" phx-click="back-to-lobby">Back to lobby</button>
</section>
