<section class="phx-hero">
  <h1>Welcome to Cribbex!</h1>
  <p>Cribbage in Elixir! Maybe this time I'll actually finish it.</p>

  <form phx-submit="login">
    <input type="text" name="name" placeholder="Enter your name!" autocomplete="off"/>
    <button type="submit">Go to lobby</button>
  </form>
</section>
