<section class="board-container">
  <div class="board">
    <%= for row <- 0..29 do %>
      <%= for column <- 0..3 do %>
        <span class="dot dot-<%= dot_color(@player_data, @opponent_data, column, row) %> dot-row-<%= row %> dot-column-<%= column %>"></span>
      <% end %>
    <% end %>
  </div>
</section>
