<%= live_component @socket, CribbexWeb.Game.OpponentComponent, data: opponent_data(@game_data, @name) %>

<%= live_component @socket, CribbexWeb.Game.PlayerComponent, data: player_data(@game_data, @name), game_id: @game_data.id %>
