<section class="my-score score-area blue">
  <h4>
    <%= @data.name %>
    <%= if @dealer do %>
      <span><em>(d)</em></span>
    <% end %>
  </h4>
  <h5>Score: <%= @data.score %></h5>
  <div>
    <%= if @data.active do %>
      <img src="/images/arrow_left.png">
    <% end %>
  </div>
</section>
