<%= case @status do %>
  <% :signin -> %>
    <%= live_component @socket, CribbexWeb.LandingComponent, name: @name %>

  <% :idle -> %>
    <%= live_component @socket, CribbexWeb.LobbyComponent, name: @name, players: @players %>

  <% :in_game -> %>
    <%= live_component @socket, CribbexWeb.GameComponent, name: @name, game_data: @game_data %>
<% end %>
